.wrap {
    background-color:#006fdc;
}

.wrap .phone .c1 {
    color: rgba(255, 255, 255, 0.6);
}

.wrap .phone .c2 {
    color: white;
}

.wrap .phone, .logo1 {
    flex: 1;
    color: white;

}

.logo1 {
    text-align: end;
    gap: 5px;   
}

.logo1 i {
    margin-left: 15px;
}


.container {
    display: flex;
    justify-content: space-between;
    max-width: 1140px ;
    margin: auto;  /* horizontral centering only*/

}

